name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build
      run: make

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: kvmtop-linux-amd64
        path: build/kvmtop
