name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    container: alpine:latest

    steps:
    - name: Install dependencies
      run: apk add --no-cache build-base git

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build
      run: |
        make
        mv build/kvmtop build/kvmtop-static-linux-amd64

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: kvmtop-static-linux-amd64
        path: build/kvmtop-static-linux-amd64

    - name: Release
      uses: softprops/action-gh-release@v1
      if: github.ref == 'refs/heads/main'
      with:
        tag_name: latest
        name: Latest Build
        files: build/kvmtop-static-linux-amd64
        draft: false
        prerelease: false
        overwrite: true
